@font-face {
    font-family: 'Qualy';
    src: url(./Qualy\ Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
}

body {
    background-color: black;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1000;
    top: 0;
}

nav ul{
    float: right;
    margin-right: 1em;
}

nav ul li{
    font-family: Qualy;
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}

nav ul li a{
    padding: 1em;
    font-family: Qualy;
    font-weight: 200;
    font-size: large;
    color: white;
    text-decoration: none;
}

li a.active, li a:hover{
    color: darkgoldenrod;
    transition: .3s;
}

body > nav > label > img{
    padding: 0;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin: 15px 15px 15px 15px;
    cursor: pointer;
    display: none;
}

#menu-toggle {
    display: none;
}

#check{
    display: none;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    scroll-snap-align: start;
}

h2{
    color: darkgoldenrod;
    margin: 40px 0;
    font-family: Qualy;
    font-size: 30px;
    text-align: center;
}

h3{
    color: white;
    font-family: Qualy;
    font-size: 20px;
}

p{
    margin: 0 5em;
    text-align: justify;
    font-size: 20px;
}

#home > h1 {
    font-family: Qualy;
    font-size: calc(0.1 * 70vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;    
}

#aboutMe{
    flex-direction: row;
}

#aboutMe > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
    font-family: "Josefin Sans", sans-serif;
}

#aboutMe > div:nth-child(2) {
    background-image: url('./fotos/cantando.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 50vw;
    mask-image: linear-gradient(to left, black 80%, transparent); /* Standard */
    height: 100%;
}

#songs > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    font-family: "Josefin Sans", sans-serif;
}

#canciones {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Para asegurar que la superposición no se desborde */
}

#Cancion1 > img, #Cancion2 > img {
    border: 4px solid darkgoldenrod;
    border-radius: 50%;
    margin: 0 1em;
    width: 240px;
    height: 240px;
    transition: transform 0.2s ease;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

#Cancion1 > img:hover, #Cancion2 > img:hover {
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    animation: spin 6s linear infinite;
    justify-content: center;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#allAlbums{
    display: flex;
    flex-direction: row;
}

#album1, #album2{
    text-align: center;
    justify-content: center;
    color: white;
}

#album1 > ul, #album2 > ul{
    list-style: none;
    padding: 0;
    font-style: italic;
}

#album1 a img, #album2 a img{
    width: 240px;
    height: 240px;
    border: 4px solid darkgoldenrod;
    border-radius: 12px;
    margin: 0 1em;
}

#contactChannels > a > img{
    margin: 5px;
    width: 45px;
    height: 45px;
    background-color: white;
    border: 3.5px solid goldenrod;
    border-radius: 25px;
}

#contactChannels{
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

footer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: darkgoldenrod;
    text-align: center;
    margin: 0; /* Elimina el margen para evitar el espaciado no deseado */
}

footer a {
    color: darkgoldenrod;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline; /* Opcional: subrayar el enlace al pasar el ratón sobre él */
}

.sliderGallery{
    border: 5px solid darkgoldenrod;
    border-radius: 15px;
    width: 55dvw;
    overflow: hidden;
}

.sliderGallery ul{
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 20s infinite alternate ease-in-out;
}

.sliderGallery li{
    width: 80%;
    list-style: none;
    position: relative;
}

.sliderGallery img{
    margin: 0;
    width: 100%;
}

@keyframes slide{
    0% {margin-left: 0;}
    15% {margin-left: 0;}

    20% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    75% {margin-left: -300%;}

    80% {margin-left: -400%;}
    100% {margin-left: -400%;}    
}

@media (max-width: 779px) {
    html {
        width: 100dvw;
        overflow: hidden;
    }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .checkbtn{
        display: block;
        margin-right: 0.5em;
    }

    nav{
        background: none;
        justify-content:flex-end;
    }

    nav ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        list-style: none;
        left: -200%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }

    nav ul li{
        display: block;
        padding: 1em 0;
        line-height: 30px;
        border-bottom: 2px solid darkgoldenrod;
    }

    nav ul li a{
        display: flex;
        margin: 0 2.5em;
        justify-content: center;
        padding: 0;
        font-size: 20px;
    }

    h2{
        position: sticky;
        top: 0.5em;
    }

    li a:hover, li.active{
        background: none;
        color: darkgoldenrod;
    }

    nav label{
        cursor: pointer;
    }

    #home > h1{
        font-size: calc(0.2 * 70vw);
    }

    #aboutMe {
        display: flex;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        font-family: "Josefin Sans", sans-serif;
    }

    #aboutMe h2{
        z-index: 100;
        filter: brightness(1.1);
    }

    #aboutMe > div:nth-child(1){
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('./fotos/cantando2.jpeg');
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;
        height: 100dvh;
        width: 100dvw;
    }

    #aboutMe > div:nth-child(2){
        display: none;
    }

    #aboutMe > div:nth-child(1) > p{
        padding: 1em;
        margin: 1em;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }

    .sliderGallery{
        margin: 0 0.5em;
        border-radius: 15px;
        width: 90dvw;
        overflow: hidden;
    }

    #canciones{
        display: flex;
        flex-direction: column;
        width: 100dvw;
    }

    #Cancion1 > img, #Cancion2 > img, #album1 img, #album2 img{
        transform: scale(80%);
        margin: 0;
        padding: 0;
    }

    #canciones h3, #albums h3{
        margin: -10px 0 0 0;
    }

    #allAlbums{
        flex-direction: column;
    }

    footer p{
        font-size: 10px;
        text-transform: uppercase;
    }  
}

@media (min-width: 600px) and (max-width: 900px) {
    #Cancion1 > img, #Cancion2 > img, #album1 img, #album2 img{
        margin: 0;
        padding: 0;
    }
}
